#logo {
    display: block;
    color: black;
    font-size: 70px;
    font-weight: bolder;
    text-align: center;
    margin: 0 auto;
    margin-top: 10%;
    margin-bottom: 10%;
}

#submitButton {
    background-color: rgb(70, 70, 247);
    color: white;
    opacity: 0.3;
}

#inputDiv {
    display: flex;
    width: 20em;
    margin: 0 auto;
}

#outputField {
    display: flex;
    width: 20em;
    margin: 0 auto;
}

body {
    background-color: rgb(4, 138, 135);
}