#inputField {
    font-size: 12px;
}

#submitButton {
    background-color: blue;
    color: white;
}

#links {
    position: fixed;
    bottom: 10px;
    right: 20px;
    left: 20px;
    font-size: 12px;
    padding: 0px;
}