/* 

    As of right now, this is not expected to look proper on systems other than my own, this will be fixed in time.

*/

#logo {
    display: block;
    margin: 0 auto;
    margin-top: 15%;
    width: 500px;
}

#submitButton {
    background-color: rgb(70, 70, 247);
    color: white;
    opacity: 0.3;
}

#inputDiv {
    display: flex;
    width: 20em;
    margin: 0 auto;
}

body {
    background-color: rgb(4, 138, 135);
}