/* 

    As of right now, this is not expected to look proper on systems other than my own, this will be fixed in time.

*/

#logo {
    position: fixed;
    top: 20%;
    left: 47%;
    margin-top: 0px;
    margin-left: -100px;
}

#submitButton {
    background-color: blue;
    color: white;
    position: fixed;
    top: 50%;
    left: 63%;
    margin-top: 0px;
    margin-left: -100px;
    block-size: 40px;
    opacity: 0.3;
}

#inputField {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: 0px;
    margin-left: -100px;
    width: 250px;
    block-size: 40px;
}

body {
    background-color: rgb(131, 128, 128);
}